<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header class="d-flex justify-content-between align-items-center">
        {{ project_name }}

        <div class="form-group">
          <select class="form-control" (change)="changeValue($event.target.value)">
            <option>All</option>
            <option>Incomplete</option>
            <option>Completed</option>
          </select>
        </div>

        <button class="btn btn-danger" (click)="showModal()">
          <i class="fa fa-plus"></i>
        </button>
      </nb-card-header>
      <nb-card-body>

        <p *ngIf="tasks?.length==0">
          No task. Please add tasks
        </p>

        <ul class="task-list">
          <li *ngFor="let task of tasks" class="task-list-item">
            <div class="row no-gutters">
              <div class="col-md-1">
                <strong class="icon-button circle" (click)="toggleStatus(task._id)">
                  <i *ngIf="task.status==='pending'" class="fa fa-check-circle enabled fa-2x"></i>
                  <i *ngIf="task.status!=='pending'" class="fa fa-check-circle disabled fa-2x"></i>
                </strong>
              </div>
              <div class="col-md">
                <input type="text" [id]="task?._id" class="form-control" (focus)="setTask($event)" (focusout)="updateTask($event)" (input)="task.name = $event.target.value" [value]="task?.name"
                />
              </div>
              <div class="col-md-1">
                <strong class="icon-button delete" (click)="deleteTask(task._id)">
                  <i class="fa fa-times-circle fa-2x"></i>
                </strong>
              </div>
            </div>
          </li>
        </ul>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Task options</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="exampleInputEmail1">Task</label>
          <input type="text" class="form-control" [value]="task.name" (input)="task.name = $event.target.value" placeholder="Task">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Date</label>
          <input type="date" class="form-control" (input)="task.dueDate = $event.target.value" [value]='task.dueDate' placeholder="Task due date">
        </div>
        <hr/>
        <div class="form-group">

          <div class="card mair-border" *ngFor="let comment of task.comments">
            <div class="card-body">
              <h5 class="card-title">{{ comment.user_id }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ comment.commentDate | date }}</h6>
              <p class="card-text">{{ comment.comment }}</p>
            </div>
          </div>

        </div>

        <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group" [ngClass]="{ 'has-danger': comment.invalid && (comment.dirty || comment.touched), 'has-success': comment.valid && (comment.dirty
          || comment.touched) }">
            <label for="exampleInputPassword1">Comment</label>
            <textarea class="form-control" [(ngModel)]="commentWrapper" required #comment="ngModel" [ngModelOptions]="{standalone: true}"></textarea>
            <div class="form-control-feedback" *ngIf="comment.errors && (comment.dirty || comment.touched)">
              <p *ngIf="comment.errors.required">Please fill comment</p>
            </div>
          </div>
          <button type="submit" class="btn btn-danger" [disabled]="f.invalid">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>