<div class="project-list-title-wrapper d-flex justify-content-between align-items-center">
  <span class="project-list-title text-uppercase">Projects</span>
  <button class="btn btn-success btn-sm" (click)="showModal()">
    <i class="fa fa-plus"></i>
  </button>
</div>

<div class="project-list">
  <ul class="project-list-ul">
    <li *ngFor="let project of projects?.projects">
      <a [routerLink]="[ '/pages/project/', project.id]">
        {{ project.name }}
      </a>
    </li>
  </ul>
</div>