<div class="project-list-title-wrapper d-flex justify-content-between align-items-center">
  <span class="project-list-title text-uppercase">Projects</span>
  <button class="btn btn-success btn-sm" (click)="showModal()">
    <i class="fa fa-plus"></i>
  </button>
</div>

<div class="project-list">
  <div class="project-list-ul list-group">
    <h4 *ngFor="let project of projects?.projects" class="list-group-item">
      <a [routerLink]="[ '/pages/project/', project.id]" routerLinkActive="active" class="menu-title">
        {{ project.name }}
      </a>
    </h4>
  </div>
</div>