<div class="page">
  <div class="page-main">
    <div class="container-fluid">
      <div class="row no-gutters">

        <app-navbar></app-navbar>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10">

          <div class="page">
            <div *ngIf="router.url != '/login' && router.url != '/register'">
              <app-header></app-header>
            </div>

            <router-outlet></router-outlet>

            <div *ngIf="router.url != '/login' && router.url != '/register'">
              <app-footer></app-footer>
            </div>
          </div>

        </main>

      </div>
    </div>
  </div>
</div>